.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.week {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1rem;
  background-color: lightgrey;
  font-size: 12px;

  textarea {
    width: 20rem;
    height: 10rem;

    &.achievement {
      background-color: #9fc936;
    }

    &.challenge {
      background-color: #ea6154;
    }
  }
}

.week1 {
  top: 18%;
  left: 75%;
}

.week2 {
  top: 38%;
  left: 70%;
}

.week3 {
  top: 22%;
  left: 20%;

  button {
    align-self: flex-end;
  }
}

.week4 {
  top: 45%;
  left: 20%;

  button {
    align-self: flex-end;
  }
}

.week5 {
  top: 68%;
  left: 62%;
}

.deliverable {
  top: 70%;
  left: 8%;

  button {
    align-self: flex-end;
  }

  textarea {
    background-color: #2d73ab;
  }
}

.indicator {
  background: url('../images/indicator.png') no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  float: right;
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

.modal {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.accordion {
  width: 100%;
  margin-bottom: 15px;
  line-height: 15px;
  border: 1px solid rgba(209, 213, 219, 0.5);
  margin-bottom: 1rem;
}

.accordion-btn {
  width: 100%;
  position: relative;
  text-align: left;
  padding: 1rem;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.roadmap {
  background: #fff url(../images/background.png) no-repeat center;
  background-size: contain;
  width: 100vw;
  height: 80vh;
}

.export-btn {
  background-color: red;
  border: none;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 4px;
}

.achievement-label {
  color: green;
  font-weight: bold;
}

.challenge-label {
  color: lightcoral;
  font-weight: bold;
}

.indicator-title {
  font-weight: bold;
}
